<div class="d-flex justify-content-between align-items-start mb-4 flex-wrap">
  <div>
    <div class="d-flex align-items-center mb-2">
      <h1 class="title">Agents</h1>
    </div>
  </div>

  <app-list-actions [showFilter]="true" (filterToggled)="toggleFilter()"></app-list-actions>
</div>

<div class="filter-container" [class.active]="filterVisible">
  <app-filter
    [isPrimary]="true"
    [controls]="filterControls"
    [showAllOption]="true"
    (filterChanged)="onFilterChanged($event)"
  ></app-filter>
</div>

<app-adaptive-table
  [apiUrl]="endpoint"
  [httpMethod]="httpVerb"
  [filters]="filters"
  [columns]="columns"
  [isLoading]="false"
></app-adaptive-table>
