<div class="d-flex w-full h-full change-password-init-container text-center">
  <div class="logo mb-5">
    <img src="assets/images/svgs/Logo.svg" alt="Ghana Electrometer Logo" />
  </div>
    <p class="maintitle">{{"update_password_init_title" | translate}}</p>
    <p class="subTitle">{{"update_password_init_sub_title" | translate}}</p>
  <div class="column spacer-d1">
    <div class="col-2">
      <button mat-raised-button
            color="primary"
            class="btn button"
            (click)="changeByEmail()"
            >
        <i class="material-icons icn">email</i>
        {{"update_w_email_title" | translate}}
        <p class="buttonP">{{"update_w_email_content" | translate}}</p>
      </button>
    </div>
    <div class="col-2">
      <button mat-raised-button
            color="primary"
            class="btn button">
            <i class="material-icons icn">phone</i>
          {{"update_w_phone_title" | translate}}
          <p class="buttonP">{{"update_w_phone_content" | translate}}</p>
      </button>
    </div>
      <button mat-raised-button
            color="primary"
            class="btn backTosignin"
            (click)="gotosignin()"
            >
        <p class="buttonP">{{"back_to_sign_in" | translate}}</p>
      </button>
  </div>
</div>
