<div class="d-flex w-100 h-100 update-password-container text-center">
  <div class="spacer-d1">
    <div class="logo mb-5 ">
    <img src="assets/images/svgs/Logo.svg" alt="Logo" />
  </div>

  <mat-card class="update-password-box">
    <mat-card-header class="center-elem bg-primary">
      <mat-card-title>{{ 'update_password_title' | translate }}</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <form [formGroup]="updatePasswordFormGroub"  class="custom-form">
        <div class="row justify-content-center">
          <div class="col-md-9 col-lg-8">
            <mat-card class="card-border card">
              <i class="material-icons icn">email</i>
              <p>{{"update_password_content" | translate}}</p>
              <mat-card-content>
                <mat-form-field color="accent" appearance="outline" hideRequiredMarker="true">
                  <mat-label>{{ 'email_title' | translate }}</mat-label>
                  <input type="email" matInput formControlName="email">
                  <mat-icon matPrefix>email</mat-icon>
                  @if (updatePasswordFormGroub.controls.email.errors?.required) {
                    <mat-error>{{ 'send_email_required' | translate }}</mat-error>
                   }
                   @if (updatePasswordFormGroub.controls.email.errors?.['pattern']) {
                    <mat-error>{{ 'invalid_email_format' | translate }}</mat-error>
                   }
                </mat-form-field>
                <div class="justify-content-center">
                  <button
                  mat-raised-button
                  color="primary"
                  class="button"
                  (click)="updatePassword()"
                  [disabled]="disabled || updatePasswordFormGroub.invalid"
                  >
                  {{ 'send_email' | translate }}
                </button>
                </div>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
  </div>
</div>
