:host {
  height: 100%;
}

.matero-auth-container {
  position: relative;
  display: flex;
  flex-flow: column;
  justify-content: center;
  min-height: 100%;
  background-image: url('/assets/images/bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
