@use '../../../../../styles/helpers/variables' as *;
.reset-password-container {
  flex-direction: column;
  justify-content: center;
  margin: auto;
  .reset-password-box {
    border: 1px solid $primary-color;
    width: 900px;
    margin-bottom: 130px;
    mat-card-header {
      padding: 16px 0;
      text-align: center;
      mat-card-title {
        font-size: 1.8rem;
        font-weight: 700;
      }
    }
    mat-card-content {
      padding: 27px 40px;
      background-color: #fff;
    }
    .input{
      width: 450px;
    }
  }
  .button{
    width: 290px;
    height: 60px;
    font-size: 15px;
    margin-bottom: 30px;
  }
}

